/*Import Montserrat-ExtraBoldItalic.ttf*/
@font-face {
    font-family: 'Montserrat-ExtraBoldItalic';
    src: url('/assets/Montserrat-ExtraBoldItalic.ttf') format('truetype');
}
@font-face {
    font-family: 'Montserrat-ExtraBold';
    src: url('/assets/Montserrat-ExtraBold.ttf') format('truetype');
}

body {
    font-family: 'Montserrat-ExtraBoldItalic';
    /*Looped Background video from /assets/bg.mp4*/
}
