<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script>
            window.users = <%- JSON.stringify(users) %>
        </script>
        <script src="/js/index.js" defer></script>
        <link rel="stylesheet" href="/css/style.css" />
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Document</title>
    </head>
    <body class="bg-[#d31f3c] text-white h-screen w-screen overflow-hidden">
        <div id="userRevealer">
            <div
                id="header"
                class="absolute top-0 z-40 p-4 w-full flex justify-between items-center"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 3325 3325"
                    class="w-32 h-32 fill-white"
                >
                    <path
                        d="M1650.319 2078.02c-.11 4.655-.316 9.31-.316 13.966-.016 221.397-.013 442.793-.018 664.19 0 4.66-.065 9.32-.55 15.123-.836 1.461-1.169 1.827-1.449 2.241-1.986.121-3.973.347-5.96.347-89.392-.003-178.785-.026-269.441-.456-1.711-.81-2.2-1.148-2.73-1.427-.167-5.322-.48-10.643-.48-15.964-.022-393.99-.02-787.978-.02-1181.967v-15.905c-21.102-1.23-41.298-.395-61.461-.55-20.332-.155-40.666-.034-60.998-.034H695.41c-.343-3.881-.82-6.766-.821-9.65-.04-85.331-.035-170.662-.01-255.993.001-1.983.324-3.967 1.756-6.342 7.238-.122 13.214.383 19.191.383 457.697.037 915.393.033 1373.09.037 6.995 0 13.99.05 20.986.076.14 2.988.402 5.977.403 8.965.022 80.935.018 161.87.018 242.805v11.683h-458.197c-2.198 8.228-2.995 233.234-1.008 251.739 6.263.196 12.749.46 19.237.584 6.66.127 13.321.117 21.712.374 74.64.572 147.55 1.037 220.461 1.22 15.957.04 31.916-.925 47.874-1.428 12.565-.24 25.13-.481 39.525-.585 9.387-.37 16.944-.877 24.5-1.384 37.974.42 73.834-8.445 108.184-24.287 38.214-17.625 75.13-37.603 107.945-64.07 57.47-46.356 93.635-106.732 112.278-177.63 22.429-85.294 17.506-169.041-18.202-250.087-28.346-64.338-73.734-113.127-135.944-146.582-45.888-24.677-93.893-42.497-145.493-50.16-11.507-1.709-23.143-2.554-36.33-4.195-5.941-.553-10.275-.71-14.608-.865-14.574-.94-29.147-1.879-45.346-3.22-5.963-.541-10.303-.68-14.642-.817-5.66-.105-11.322-.303-16.982-.303-405.144-.015-810.287-.013-1215.43-.013h-14.258c-.304-4.044-.714-6.957-.715-9.87-.034-83.96-.03-167.921-.005-251.882.001-1.982.327-3.964 1.729-6.354 6.543-.183 11.86.238 17.176.238 209.896.034 419.79.029 629.686.027 2.999 0 6.044.304 8.983-.122 3.186-.463 6.273-1.616 9.403-2.467.037-83.183.073-166.366 1.218-250.474 93.766-.876 186.423-.826 279.08-.777.107 3.989.308 7.977.308 11.965.02 81.206.015 162.413.698 244.988 5.937 1.885 11.19 2.85 16.445 2.855 117.127.086 234.253.07 351.38.054 5.984 0 11.968-.179 17.953-.274 18.934 2.656 37.857 5.395 56.806 7.937 11.855 1.591 23.847 2.328 35.611 4.398 135.258 23.794 252.944 81.491 347.797 182.198 74.544 79.144 122.919 172.637 148.93 277.88 4.71 19.051 8.506 38.39 11.508 57.785 2.993 19.346 4.46 38.927 6.47 59.636.035 2.259.197 3.287.359 4.316-.007 25.449-.013 50.898-.238 77.623-.128 2.302-.038 3.33.053 4.356-6.904 97.138-32.192 188.99-80.486 273.843-75.677 132.965-187.695 222.043-331.475 272.326-40.998 14.338-83.432 22.867-125.726 32.132-20.013 4.383-39.988 5.974-60.405 5.937-127.99-.23-255.98-.077-385.398.082-1.66.697-1.893 1.26-2.125 1.825z"
                    />
                    <path
                        d="M936.321 1743.207c73.836 0 147.67 0 222.994.245 1.897.333 2.306.42 2.716.507.195 3.982.56 7.964.56 11.946.027 271.576.025 543.153.025 814.729v13.44c-3.361-2-5.638-3.04-7.554-4.542-71.598-56.096-143.095-112.323-214.862-168.202-5.732-4.464-6.332-9.318-6.33-15.507.07-181.273.052-362.547.06-543.82.001-35.32.048-70.642.738-107.068.995-1.313 1.324-1.52 1.653-1.728z"
                    />
                </svg>
                <h1 class="text-9xl">THE CHOSEN ONES</h1>
                <div class="h-32 w-48 flex items-center group">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        version="1.0"
                        viewBox="0 0 75 75"
                        class="w-16 mr-4 fill-white stroke-white translate-x-11 group-hover:translate-x-0 transition-all duration-300"
                    >
                        <path
                            d="M39.389,13.769 L22.235,28.606 L6,28.606 L6,47.699 L21.989,47.699 L39.389,62.75 L39.389,13.769z"
                            style="stroke-width: 5; stroke-linejoin: round"
                        />
                        <path
                            d="M48,27.6a19.5,19.5 0 0 1 0,21.4M55.1,20.5a30,30 0 0 1 0,35.6M61.6,14a38.8,38.8 0 0 1 0,48.6"
                            style="
                                fill: none;
                                stroke-width: 5;
                                stroke-linecap: round;
                            "
                        />
                    </svg>
                    <input
                        type="range"
                        name="volume"
                        id="volumeSlider"
                        min="0"
                        max="100"
                        step=".1"
                        class="h-2 bg-gray-300 hover:bg-white transition-all rounded-lg appearance-none cursor-pointer opacity-0 -translate-x-11 w-0 group-hover:opacity-100 group-hover:translate-x-0 group-hover:w-full duration-300"
                    />
                </div>
            </div>
            <div id="mainContent" class="h-full w-full z-0">
                <canvas id="textReveal" class="h-full w-full z-10"></canvas>
                <div
                    id="transparencyOverlay"
                    class="absolute h-full w-full z-20 bg-gradient-to-b from-[#d31f3c] via-transparent to-[#d31f3c]"
                ></div>
            </div>
            <div
                id="footer"
                class="absolute bottom-0 z-20 w-full p-4 flex justify-center items-center"
            >
                <button id="pullUser">Pull next User</button>
            </div>
        </div>
        <div
            id="userListWrapper"
            class="absolute top-0 w-screen h-screen bg-[#d31f3c] z-30 flex justify-center items-center text-7xl invisible opacity-0 transition-all duration-500"
        >
            <ul class="flex flex-col items-center" id="userList"></ul>
        </div>
    </body>
</html>
